In [3]:
import pandas as pd

In [4]:
import os
os.chdir(r"C:\Users\fares\OneDrive\Desktop\Mémoire")
print("Répertoire actuel :", os.getcwd())

Répertoire actuel : C:\Users\fares\OneDrive\Desktop\Mémoire

In [7]:
df_panel = pd.read_excel("df_panel_2018_2021.xlsx")

In [8]:
df_panel.head()

,INSEE_COM,Fibre_it,annee,nb_chomeurs,population_recensee,pop_fiscale,med_nivvie,part_imposés,pauvrete,part_salaires,...,part_impots,d1_nivvie,d9_nivvie,ratio_d9_d1,zone_type_2021,nb_creations,taux_chomage_fiscal,taux_chomage_INSEE,tx_crea_ent_fiscale,tx_crea_ent_recensee
0,01001,0,2018,35.0,767.0,808.0,25350.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,7.0,4.331683,4.563233,8.663366,9.126467
1,01001,0,2019,40.0,767.0,819.0,23970.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,6.0,4.884005,5.215124,7.326007,7.822686
2,01001,0,2020,40.0,776.0,842.0,24820.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,10.0,4.750594,5.154639,11.876485,12.886598
3,01001,0,2021,45.0,771.0,895.0,25820.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,7.0,5.027933,5.836576,7.821229,9.079118
4,01002,1,2018,25.0,241.0,255.0,23890.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,3.0,9.803922,10.373444,11.764706,12.448133

In [9]:
df_panel.describe()

,Fibre_it,annee,nb_chomeurs,population_recensee,pop_fiscale,med_nivvie,part_imposés,pauvrete,part_salaires,part_chomage,...,part_social,part_impots,d1_nivvie,d9_nivvie,ratio_d9_d1,nb_creations,taux_chomage_fiscal,taux_chomage_INSEE,tx_crea_ent_fiscale,tx_crea_ent_recensee
count,141219.000000,141219.000000,139887.000000,139524.000000,125282.000000,125282.000000,10648.000000,8693.000000,10638.000000,10638.000000,...,10638.000000,10638.000000,21332.000000,21332.000000,10638.000000,139715.000000,125214.000000,139342.000000,125042.000000,139170.000000
mean,0.222555,2019.495826,169.070250,1847.451822,2035.289044,22430.809853,54.898573,13.657633,63.444106,2.872805,...,5.543241,-16.586435,13187.966904,38616.093193,2.963715,22.431686,7.289396,7.073048,9.493760,9.318958
std,0.415963,1.116785,953.117276,8448.421166,8370.146439,3123.937653,11.810758,6.818998,11.414731,0.687053,...,2.982844,3.397599,2117.871690,8989.474836,0.611501,148.227205,2.566531,2.962981,6.288210,7.497420
min,0.000000,2018.000000,0.000000,0.000000,74.000000,11730.000000,12.000000,5.000000,11.200000,1.100000,...,0.500000,-42.300000,6100.000000,23260.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2018.000000,15.000000,198.000000,250.000000,20460.000000,46.000000,9.000000,56.200000,2.400000,...,3.600000,-18.200000,11650.000000,33280.000000,2.600000,1.000000,5.555556,5.395683,5.555556,4.859086
50%,0.000000,2019.000000,30.000000,454.000000,527.000000,21980.000000,55.000000,12.000000,64.200000,2.800000,...,4.900000,-16.000000,13200.000000,36410.000000,2.800000,4.000000,6.970292,6.828528,8.658009,8.384428
75%,0.000000,2020.000000,80.000000,1144.000000,1292.000000,23890.000000,63.000000,17.000000,71.400000,3.300000,...,6.700000,-14.400000,14680.000000,41200.000000,3.200000,11.000000,8.648649,8.495146,12.562814,12.552301
max,1.000000,2021.000000,63040.000000,486828.000000,428571.000000,55340.000000,88.000000,59.000000,96.400000,8.700000,...,28.800000,-4.000000,22270.000000,149080.000000,9.800000,12099.000000,40.540541,125.000000,124.031008,333.333333

In [10]:
df_panel.groupby("annee")["Fibre_it"].mean()

annee
2018    0.080530
2019    0.156314
2020    0.248934
2021    0.406484
Name: Fibre_it, dtype: float64

In [11]:
df_panel.groupby("zone_type_2021")[["taux_chomage_fiscal", "tx_crea_ent_fiscale"]].mean()

                taux_chomage_fiscal  tx_crea_ent_fiscale
zone_type_2021
Inconnu                    8.829069            14.723747
Mixte                      8.226565            10.088883
Rural                      7.190990             9.217133
Urbain                     7.479805            10.677068

In [12]:
df_panel.isna().mean().sort_values(ascending=False).head(10)

pauvrete           0.938443
part_patrimoine    0.924670
ratio_d9_d1        0.924670
part_salaires      0.924670
part_chomage       0.924670
part_pensions      0.924670
part_social        0.924670
part_impots        0.924670
part_imposés       0.924599
d1_nivvie          0.848944
dtype: float64

In [14]:
df_rural = df_panel[df_panel["zone_type_2021"] == "Rural"].copy()

In [15]:
df_rural.head()

,INSEE_COM,Fibre_it,annee,nb_chomeurs,population_recensee,pop_fiscale,med_nivvie,part_imposés,pauvrete,part_salaires,...,part_impots,d1_nivvie,d9_nivvie,ratio_d9_d1,zone_type_2021,nb_creations,taux_chomage_fiscal,taux_chomage_INSEE,tx_crea_ent_fiscale,tx_crea_ent_recensee
0,01001,0,2018,35.0,767.0,808.0,25350.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,7.0,4.331683,4.563233,8.663366,9.126467
1,01001,0,2019,40.0,767.0,819.0,23970.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,6.0,4.884005,5.215124,7.326007,7.822686
2,01001,0,2020,40.0,776.0,842.0,24820.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,10.0,4.750594,5.154639,11.876485,12.886598
3,01001,0,2021,45.0,771.0,895.0,25820.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,7.0,5.027933,5.836576,7.821229,9.079118
4,01002,1,2018,25.0,241.0,255.0,23890.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rural,3.0,9.803922,10.373444,11.764706,12.448133

In [16]:
print("Nombre d'observations rurales :", df_rural.shape[0])
print("Nombre de communes rurales :", df_rural["INSEE_COM"].nunique())

Nombre d'observations rurales : 122959
Nombre de communes rurales : 30740

In [17]:
print(df_rural.groupby(["annee"])["Fibre_it"].mean())

annee
2018    0.066916
2019    0.132173
2020    0.218250
2021    0.369238
Name: Fibre_it, dtype: float64

In [18]:
df_rural.to_excel("df_rural_2018_2021.xlsx", index=False)